<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Marque - <%= marque %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
</head>
<body>

<header>
  <h1>Modèles de la marque <%= marque %></h1>
</header>

<section class="products-grid">
  <% cars.forEach(car => { %>
    <div class="card">
      <img src="<%= car.images[0] %>" onmouseover="this.src='<%= car.images[1] %>'" onmouseout="this.src='<%= car.images[0] %>'">
      <p><%= car.nom %></p>
      <p><%= car.prix %>€</p>
      <% if (car.promo) { %>
        <span class="promo">-<%= car.promo %>%</span>
      <% } %>
      <a href="/car/<%= car.id %>">Voir détails</a>
    </div>
  <% }); %>
</section>

</body>
</html>
